.shop-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.shop-header .logo {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.shop-header .shopping-cart {
  align-self: center;
  font-size: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  margin-left: auto;
}

.shop-header .shopping-cart .cart-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}
